.body {
  & > h1 {
    margin-bottom: 20px;
    color: white;
  }

  .wid-row {
    margin-bottom: 50px;
  }

  .wid-colum {
    background-color: #292e33;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
  }
}
