.body {
  & > h1 {
    margin-bottom: 20px;
    color: white;
  }

  .wid-row {
    margin-bottom: 50px;

    @media (max-width: 768px) {
      &.reverse {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }

  .wid-colum {
    background-color: #292e33;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
  }

  .reserv-card {
    background-color: #545f66;
  }
}
