
.sidNav{
    padding: 0;
    background-color: #16191C;
}

.cont {
    background-color: #1F2327;
}

.navLinks {
    
    
    margin-top: 20px;
    
    position: relative;
    display: flex;
    flex-direction: column;
    

    
    .link {

        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 10px 0;
        width: 100%;
        transition: 0.3s;
        position: relative;
        border-bottom: solid #24282b .1px;
        color: #545F69;
        
        a {
            position: relative;
            padding-right: 4px;
        
        }

        svg {
            margin-right: 10px;
        }

        &:hover {
            background-color: #4173EE;
            color: white;
        }

        @media (max-width: 576px) {

            & {
                padding: 20px 0;
            }

            a {
                display: none;
                color: #4173EE;
            }
            svg {
                margin-right: 4px;
            }
        }


    }
    
}