// Reservation card styles
.reservation-card {
    background-color: #2b2b2b;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    }
  
    .reservation-sport {
      font-size: 1.5rem;
      color: #ffffff;
      margin-bottom: 10px;
    }
  
    .reservation-details {
      font-size: 1rem;
      color: #bbbbbb;
      display: flex;
      flex-direction: column;
      gap: 5px;
  
      .field {
        font-weight: bold;
        color: #81d4fa;
      }
  
      .date {
        color: #ffab91;
      }
  
      .time {
        color: #c5e1a5;
      }
    }
  }
  