@import "./base/variables";
@import "./base/typography";
@import "./base/reset";
@import "./pages/home";
@import "./utils/functions";
@import "./utils/mixins";
@import "./components/nav";

@import "./components/body";

html,
body,
#root {
  height: 100%;
  margin: 0;
}

h1 {
  color: red;
}
